VITE_API_BASE_URL=https://ascuita-api.duckdns.org
VITE_GEMINI_MODEL=gemini-3.1-flash-live-preview
VITE_DEBUG_MODE=false
VITE_FIREBASE_CONFIG={"apiKey":"replace_me","authDomain":"replace_me","projectId":"replace_me","storageBucket":"replace_me","messagingSenderId":"replace_me","appId":"replace_me","measurementId":"replace_me"}
